{% extends 'base.html' %}
{% load static %}
{% block title %}Home page {% endblock title %}
{% block body %}


<h1 class="text-3xl font-bold p-6">
  Contact me
</h1>

<div class="container">
    <form action="/contact" method="POST">
      {% csrf_token %}
      <div class="overflow-hidden shadow sm:rounded-md">
        <div class="bg-white px-4 py-5 sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
              <input type="text" name="fname" id="fname" autocomplete="given-name" class="mt-1 p-2 block w-full bg-gray-700 text-white rounded-md border-black-800 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm ">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
              <input type="text" name="lname" id="lname" autocomplete="family-name" class="mt-1 p-2 bg-gray-700 text-white block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

            <div class="col-span-6 sm:col-span-4 lg:col-span-3">
              <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
              <input type="text" name="email" id="email-address" autocomplete="email" class="mt-1 p-2 bg-gray-700 text-white block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

            

            <div class="col-span-6 lg:col-span-3">
              <label for="street-address" class="block text-sm font-medium text-gray-700">Street address</label>
              <input type="text" name="adress" id="street-address" autocomplete="street-address" class="mt-1 p-2 bg-gray-700 text-white block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

            <div class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label for="city" class="block text-sm font-medium text-gray-700">City</label>
              <input type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 p-2 bg-gray-700 text-white block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-3">
              <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
              <input type="text" name="state" id="region" autocomplete="address-level1" class="mt-1 p-2 bg-gray-700 text-white block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>

          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
          <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
        </div>
      </div>
    </form>
  </div>
{% endblock body %}


